.search {
    width: 100%;
}

.search i {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}
.search input {
    border: none;
    background-color: inherit;
}

input:focus {
    border: none !important;
    outline: none !important;
}